@import '../../../assets/style/formInput';

.mainBrand{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    min-height: max-content;
    padding-bottom: 100px;

    .formInput {
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 3%;
        
    }

    .formEditor{
        width: 45%;
        height: fit-content;
        margin: 2%;
    }
    .formButton{
        width: 90%;
        height: 100px;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        
        
        Button{
            width: max-content;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 30px;

        }
     
        
    }
}