@import '../../../assets/style/fontstyle';
@import '../../../assets/style/formInput';
@import '../../../assets/style/color';


.mainAddProduct {
    width: 100%;
    height: 100%;
    min-height: 700px;
    overflow-y: scroll;
    // overflow: auto;


    .formProduct {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        float: left;

     
    }


    .formInventory {
        width: 100%;
        float: right;
        height: auto;
        padding-bottom: 15%;
        



        .productInve {
            width: 95%;
            height: auto;
            border: 1px solid $lineblue;
            border-radius: 20px;
            margin: 10px;
            position: relative;


            .formaddOption{
                width: 50%;
                height: auto;
                margin-left: 2%;
                border: 1px solid red;  
                display: flex;
                align-items: center;           
                 
            }



            .listOption{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                margin-top: 2%;
            }


            .cancelForm {
                width: 30px;
                height: 30px;
                size: 25px;
                position: absolute;
                top: -5px;
                right: -5px;
                display: flex;
                align-self: flex-end;
                justify-content: end;
                background-color: white;
                border-radius: 50%;

                .icon {
                    font-size: 25px;
                    color: red;
                }
            }
        }
    }

    .addformInput {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $iconColor;



        &:first-child {
            cursor: pointer;
        }
    }

    .formSave {
        width: 90%;
        height: 80px;
        background-color: white;
        position: fixed;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding-right: 5%;
     
        z-index: 99 !important;

        Button {
            margin-left: 5px;
        }
    }

    .inputDes{
        width: 100%;
        height: auto;
        margin-bottom: 100px;


        .formButton {
            width: 100%;
            height: max-content;
            display: flex; 
            
            Button{
                width: max-content;
                height: 60px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 10px;

            }
        }



        .descProduct {
            width: 100%;
            height: 300px;
            margin-top: 20px;
            
            
        }
    }
   
}