.btnPrimary {
    width: 130px;
    height: 40px;
    background-color: rgb(11, 133, 154);
    border: 1px solid transparent; 
    color: #fff; 
    transition: border-color 0.3s, color 0.3s; 
    margin: 2px;

    &:hover{
        border: 1px solid white !important;
        color: white;
    }

} 

.btnWhite {
    width: 130px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(11, 133, 154);
    color: #0d8680; 
    transition: border-color 0.3s, color 0.3s; 
    margin: 2px;
    &:hover{
        border: 1px solid rgb(20, 149, 166) !important;
        color: white;
    }
}