$raleway-font: 'Raleway', sans-serif;



$listspace: (
    0,
    1,
    2,
    3,
    4,
    5
);


@each $fspace in $listspace {
    .m-#{$fspace} {
        font-size: 14px;
        margin: #{font}rem;
    }

    .my-#{$fspace} {
        font-size: 18px;
        margin: #{font}rem;
    }

    .fsmin {
        font-size: 12px;
    }

    .fsnormal {
        font-size: 18px;
    }


}

.centerForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title {
    font-size: 25px;
    font-weight: bold;
}
.smallfont {
    font-size: 14px;
}

.minItalic {
    font-size: 12px;
    font-weight: 300;

}

.normalBold {
    font-size: 14px;
    font-weight: 500;
}

.titleheader {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    color: rgb(0, 76, 255);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;

}

.icon {
    font-size: 20px;
    cursor: pointer;
}


.fontIconsm {
    font-size: 18px;
    cursor: pointer;
    
    
}